<div class="container main-content py-5">
  <div class="ml-2">
    <% if @shop.errors.any? %>
      <%= @shop.errors.count %>件のエラーが発生しました
      <ul>
        <% @shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="card w-75 mx-auto my-4 shadow-lg text-center">
  <h2 class="p-3"><strong>店舗登録</strong></h2>
  
  <%= render partial: "form", locals: {shop: @shop} %>
  
  <div class="actions mb-3">
    <%= link_to "削除", shop_path(@shop), method: :delete, "data-confirm" => "この店舗を削除しますか？", class: "btn btn-danger mb-4" %>
  </div>
  </div>
</div>