<div class="container py-5">
  <div class="card w-75 mx-auto my-4 shadow-lg text-center">
  <h2 class="p-3"><strong>店舗登録</strong></h2>
  
  <%= render partial: "form", locals: {shop: @shop} %>
  <div class="mb-3">
    <%= link_to "店舗一覧へ戻る", shops_path, class: "badge badge-light" %>｜
    <%= link_to "投稿する", new_item_path, class: "badge badge-light" %>
  </div>
  </div>
</div>