  <% if user_signed_in? && current_user != @user %>
  <div id = "follow-ajax">
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, remote: true, data: {"turbolinks" => false} , class: "badge badge-primary" %>
    <% else %>
      <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, remote: true, data: {"turbolinks" => false} , class: "badge badge-info" %>
    <% end %>
  </div>
  <% elsif user_signed_in? && current_user == @user %>
    <%= link_to "マイページ編集", edit_user_path(@user.id), class: "btn btn-outline-dark btn-sm" %>
  <% end %>
