<%= render partial: "public/users/user_info", locals: {user: @user} %>

<div class="container main-content pt-3">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div>
        <h5><strong>フォロー</strong></h5>
      </div>
      <% if @user.followings.blank? %>
        <h5>まだ誰もフォローしていません。</h5>
      <% else %>
        <%= render partial: "list", locals: {users: @users} %>
      <% end %>
    </div>
  </div>
</div>