    <div class="col-lg-3 text-center sidebar">
      <div class="sidebar_tags">
        <h5 class="my-3">タグ<i class="fa-solid fa-tag"></i></h5>
        <div class="d-flex flex-wrap">
        <% tags.each do |tag| %>
          <% if tag.items.present? %>
            <div>
              <i class="fa-solid fa-hashtag ml-1 d-inline-flex">
                <%= link_to tag.name, root_path(tag_id: tag.id) %>
                <%= "(#{tag.items.count})" %>
              </i>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="sidebar_categories">
        <h5 class="my-3">カテゴリー<i class="fa-solid fa-list"></i></h5>
        <table class="table table-bordered">
          <% categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category.name, root_path(category_id: category.id), class: "text-dark" %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
