<div class="jumbotron">
  <h1 class="display-4">Good_Clothes!</h1>
  <p class="lead">About</p>
  <hr class="my-4">
  <p>その時点での店の品揃え状態を購入アパレルと共にレビューすることで<br>
     たくさんの人に店舗へ訪れてもらい自分の好きな店を応援しよう！</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">投稿を見る</a>
</div>