@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#map {
  height: 300px;
  width: 400px;
}

.sidebar_title, .post_detail, .comment-block {
  background-color: #fffaf0;
}

.main-content {
  background-color: #b0c4de;
}

.table, .user-comment-box, .tag-content {
  background-color: #fff;
}


.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.comment-user-info{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.color-box{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.user_item{
  object-fit: cover;
}


