@use '~bootstrap/scss/bootstrap';

#map {
  height: 300px;
  width: 400px;
}

.sidebar_categories, .post_detail, .sidebar_tags {
  background-color: #f0f8ff;
}

.container {
  background-color: #b0c4de;
}

.table {
  background-color: #fff;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}