<div class="container">
  <table class="table">
    <tbody>
      <% @favorite_shops.each do |shop| %>
      <tr>
        <td>
          <%= link_to shop.name, shop_path(shop) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>